In [33]:
import pandas as pd
import numpy as np
import statistics as st

In [2]:
student = pd.read_csv('student-data.csv')

In [3]:
student.head()

     Name  Math  Science  Reading  History
0    Adam  11.0      9.0     16.0     13.5
1    Anna  12.0     11.0      8.5     10.0
2   James  11.0     18.0     11.5      9.0
3   Corey   7.0     15.5     11.0     14.0
4  Alisha   9.5     12.0     10.5     14.0

In [4]:
student.Math.mean()

11.928571428571429

In [5]:
student.Science.mean()

14.214285714285714

In [6]:
student.Reading.mean()

10.785714285714286

In [7]:
student.History.mean()

11.428571428571429

In [8]:
np.median(student.Math)

11.0

In [9]:
student.History.mode()

15.5

In [19]:
student.corr()

C:\Users\Wysteria\AppData\Local\Temp\ipykernel_12480\3404945325.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  student.corr()

             Math   Science   Reading   History
Math     1.000000  0.269494 -0.268562 -0.718358
Science  0.269494  1.000000 -0.527606 -0.358688
Reading -0.268562 -0.527606  1.000000  0.206794
History -0.718358 -0.358688  0.206794  1.000000

In [39]:
# Strongest Correlation would be between Math and History

In [40]:
exam = [24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]

In [38]:
def desc_stats(numbers: list[float]):
    print('Mean:', np.mean(numbers))
    print('Median:', np.median(numbers))
    print('Mode:', st.mode(numbers))
    print('Minimum:', np.min(numbers))
    print('Maximum:', np.max(numbers))
    print('Range:', np.ptp(numbers))
    print('Variance:', np.var(numbers))
    print('Standard deviation:', np.std(numbers))

In [37]:
desc_stats(exam)

Mean: 59.47826086956522
Median: 60.0
Mode: 60
Minimum: 5
Maximum: 99
Range: 94
Variance: 664.1625708884687
Standard deviation: 25.771351747404882